<div class="col-8 px2 mx-auto p1 h2 center">
  <p class="">{{model.name}}</p>
  <p class="">{{link-to "Edit" "articles.edit" model}}</p>
  <p class=""><a href="#" {{action delete model}}>delete</a></p>
</div>
